xkcd_analytics:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: analytics
      password: analytics
      port: 5432
      dbname: warehouse
      schema: dev_username
      threads: 4

    airflow:
      type: postgres
      host: postgres
      user: analytics
      password: analytics
      port: 5432
      dbname: warehouse
      schema: airflow_dev
      threads: 4
